* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    background-color:#f1eeee;

}

.content {
    width: 100vw;
    height: auto;
    padding: .5rem; 
    color: rgba(255, 255, 255, 0.555);
    position: relative;
}


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 5rem;
    margin: 0;  
    cursor: pointer;
    
}


.normal {
    background: rgb(166,168,119);
    background: linear-gradient(142deg, rgba(166,168,119,1) 29%, rgba(54,77,70,1) 96%);
}

.grass {
    background: rgb(119,200,80);
    background: linear-gradient(142deg, rgba(119,200,80,1) 15%, rgba(54,77,70,1) 96%);
}

.fire {
    background: rgb(238,127,48);
    background: linear-gradient(142deg, rgba(238,127,48,1) 15%, rgba(54,77,70,1) 96%);
    }

.water {
    background: rgb(103,143,238);
    background: linear-gradient(142deg, rgba(103,143,238,1) 15%, rgba(54,77,70,1) 96%);

    }

.electric {
    background: rgb(247,207,46);
    background: linear-gradient(142deg, rgba(247,207,46,1) 29%, rgba(54,77,70,1) 96%);
}

.ice {
    background: rgb(152,213,215);
    background: linear-gradient(142deg, rgba(152,213,215,1) 29%, rgba(54,77,70,1) 96%);;
}

.ground {
    background: rgb(223,191,105);
    background: linear-gradient(142deg, rgba(223,191,105,1) 29%, rgba(54,77,70,1) 96%);
}

.flying {
    background: rgb(169,143,240);
    background: linear-gradient(142deg, rgba(169,143,240,1) 29%, rgba(54,77,70,1) 96%);
}

.poison {
    background: rgb(160,64,160);
    background: linear-gradient(142deg, rgba(160,64,160,1) 29%, rgba(54,77,70,1) 96%);
}

.fighting {
    background: rgb(191,48,41);
    background: linear-gradient(142deg, rgba(191,48,41,1) 29%, rgba(54,77,70,1) 96%);
}

.psychic {
    background: rgb(246,86,135);
    background: linear-gradient(142deg, rgba(246,86,135,1) 29%, rgba(54,77,70,1) 96%);
}

.dark {
    background-color:#725847;
    }

.rock {
    background-color:#b8a137;
    }

.bug {
    background: rgb(168,183,32);
    background: linear-gradient(142deg, rgba(168,183,32,1) 15%, rgba(54,77,70,1) 96%);
}

.ghost {
    background-color:#6e5896;
    }

.steel {
    background-color:#b9b7cf;
    }

.dragon {
    background-color:#6f38f6;
    }

.fairy {
    background-color:#f9aec7;
    }


.pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .2rem 1rem;
    color: white;
    border-radius: 1rem;
    bottom: 160px;
    
}

.pokemon:hover{
    transform: scale(1.2);
    transition: transform 1.2s;
    transform-style: preserve-3d;  
    box-shadow: 3px 3px 10px 3px rgb(22, 195, 243);
   
    
}


.flip-box {
    background-color: transparent;
    box-shadow: 3px 3px 10px 3px rgb(22, 195, 243);
    border-radius: 1rem;
    perspective: 1000px;
    position: relative;
    width: 150px;
    height: 150px;
    
  }
  
  .flip-box-inner {
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
    width: 150px;
    height: 140px;
    position: relative;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
  }
  
  .flip-box-back {
    font-size: 10px;
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    justify-content: space-around;
    transform: rotateY(180deg);
    margin: .5rem;
    padding: .2rem .2rem;
    color: white;
    border-radius: 1rem;
    bottom: 15px;
    left: 30px;
  }

  
.pokemon .number {
   color: #000000;
   text-align: right;
   opacity: .4;
   font-size: .625rem;
   margin-top: .2rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 15px 0px 0px 0px;
    list-style: none;
}

.pokemon .detail .types .type{
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img{
    max-width: 70px;
    height: 70px;
    align-self: flex-end;
    margin: 15px 0px 0px 0px;
    
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: .652rem;
    margin: .25rem .10rem;
    position: relative;
}


.img-back{
    width: 100px;
    height: 180px;
    position: relative; 
    display: flex;
   
}





.box-back {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .8rem .5rem;
    color: white;
    border-radius: 1rem;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 3px 3px 100px 3px rgb(22, 195, 243); 
    position: relative;
    background: rgb(182,180,180);
    background: linear-gradient(49deg, rgba(182,180,180,1) 29%, rgba(54,77,70,1) 96%);
    opacity: 0.9;
    
    
}

.box-back span{
    margin-right: .2rem;
    
}
.hp-back {
    color: green;
    
}

.atack-back {
    color: red;
}

.defense-back{
    color: rgba(22, 142, 221, 0.979);
}

.speed-back {
    color: rgb(31, 71, 31);
}


/*back-ground*/


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0f203e;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 43;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #2763a9;
    top: 83%;
    left: 70%;
    animation-duration: 27s;
    animation-delay: -26s;
    transform-origin: 0vw -21vh;
    box-shadow: 40vmin 0 5.369968794904332vmin currentColor;
}
.background span:nth-child(1) {
    color: #0b152e;
    top: 70%;
    left: 31%;
    animation-duration: 15s;
    animation-delay: -2s;
    transform-origin: -16vw -5vh;
    box-shadow: 40vmin 0 5.441906360151913vmin currentColor;
}
.background span:nth-child(2) {
    color: #0b152e;
    top: 22%;
    left: 7%;
    animation-duration: 11s;
    animation-delay: -1s;
    transform-origin: 4vw -24vh;
    box-shadow: -40vmin 0 5.041875911090396vmin currentColor;
}
.background span:nth-child(3) {
    color: #0b152e;
    top: 5%;
    left: 20%;
    animation-duration: 65s;
    animation-delay: -19s;
    transform-origin: 22vw 23vh;
    box-shadow: -40vmin 0 5.482320355911452vmin currentColor;
}
.background span:nth-child(4) {
    color: #0b152e;
    top: 8%;
    left: 82%;
    animation-duration: 24s;
    animation-delay: -65s;
    transform-origin: 18vw 2vh;
    box-shadow: -40vmin 0 5.107712779192276vmin currentColor;
}
.background span:nth-child(5) {
    color: #5b6c54;
    top: 97%;
    left: 52%;
    animation-duration: 50s;
    animation-delay: -67s;
    transform-origin: 20vw 20vh;
    box-shadow: -40vmin 0 5.7519502378151435vmin currentColor;
}
.background span:nth-child(6) {
    color: #0b152e;
    top: 93%;
    left: 97%;
    animation-duration: 34s;
    animation-delay: -34s;
    transform-origin: 7vw 20vh;
    box-shadow: 40vmin 0 5.795538369910103vmin currentColor;
}
.background span:nth-child(7) {
    color: #0b152e;
    top: 40%;
    left: 54%;
    animation-duration: 66s;
    animation-delay: -44s;
    transform-origin: -20vw -4vh;
    box-shadow: -40vmin 0 5.413360486986668vmin currentColor;
}
.background span:nth-child(8) {
    color: #2763a9;
    top: 92%;
    left: 24%;
    animation-duration: 65s;
    animation-delay: -43s;
    transform-origin: -8vw 4vh;
    box-shadow: 40vmin 0 5.017583582218882vmin currentColor;
}
.background span:nth-child(9) {
    color: #0b152e;
    top: 20%;
    left: 33%;
    animation-duration: 29s;
    animation-delay: -40s;
    transform-origin: 1vw -11vh;
    box-shadow: -40vmin 0 5.163256875597841vmin currentColor;
}
.background span:nth-child(10) {
    color: #0b152e;
    top: 78%;
    left: 78%;
    animation-duration: 44s;
    animation-delay: -38s;
    transform-origin: -15vw 12vh;
    box-shadow: -40vmin 0 5.03969317818452vmin currentColor;
}
.background span:nth-child(11) {
    color: #2763a9;
    top: 49%;
    left: 38%;
    animation-duration: 36s;
    animation-delay: -3s;
    transform-origin: 2vw 25vh;
    box-shadow: -40vmin 0 5.816675623068675vmin currentColor;
}
.background span:nth-child(12) {
    color: #0b152e;
    top: 98%;
    left: 14%;
    animation-duration: 61s;
    animation-delay: -15s;
    transform-origin: 25vw 18vh;
    box-shadow: -40vmin 0 5.9507329275785406vmin currentColor;
}
.background span:nth-child(13) {
    color: #5b6c54;
    top: 38%;
    left: 25%;
    animation-duration: 16s;
    animation-delay: -60s;
    transform-origin: 3vw -16vh;
    box-shadow: -40vmin 0 5.988035244060953vmin currentColor;
}
.background span:nth-child(14) {
    color: #2763a9;
    top: 9%;
    left: 43%;
    animation-duration: 59s;
    animation-delay: -44s;
    transform-origin: 1vw -1vh;
    box-shadow: 40vmin 0 5.786616234559516vmin currentColor;
}
.background span:nth-child(15) {
    color: #5b6c54;
    top: 62%;
    left: 83%;
    animation-duration: 34s;
    animation-delay: -16s;
    transform-origin: 25vw -21vh;
    box-shadow: -40vmin 0 5.704453391395539vmin currentColor;
}
.background span:nth-child(16) {
    color: #2763a9;
    top: 69%;
    left: 58%;
    animation-duration: 66s;
    animation-delay: -56s;
    transform-origin: -14vw -7vh;
    box-shadow: -40vmin 0 5.072948985357955vmin currentColor;
}
.background span:nth-child(17) {
    color: #5b6c54;
    top: 72%;
    left: 80%;
    animation-duration: 53s;
    animation-delay: -11s;
    transform-origin: -14vw -1vh;
    box-shadow: -40vmin 0 5.5415407162942145vmin currentColor;
}
.background span:nth-child(18) {
    color: #5b6c54;
    top: 37%;
    left: 29%;
    animation-duration: 7s;
    animation-delay: -19s;
    transform-origin: 14vw -18vh;
    box-shadow: -40vmin 0 5.511228013359616vmin currentColor;
}
.background span:nth-child(19) {
    color: #0b152e;
    top: 35%;
    left: 36%;
    animation-duration: 48s;
    animation-delay: -23s;
    transform-origin: -23vw -1vh;
    box-shadow: 40vmin 0 5.268278625061212vmin currentColor;
}
