* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    background-color:#f1eeee;

}

.content {
    width: 100vw;
    height: auto;
    padding: .5rem; 
    background-image: url("https://images.hdqwalls.com/download/pokemon-1366x768.jpg");
    color: rgba(255, 255, 255, 0.555);
    
}


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 5rem;
    margin: 0;  
    cursor: pointer
}


.normal {
    background-color: #a6a877;
    }

.grass {
    background: rgb(119,200,80);
    background: linear-gradient(142deg, rgba(119,200,80,1) 15%, rgba(54,77,70,1) 96%);
    }

.fire {
    background: rgb(238,127,48);
    background: linear-gradient(142deg, rgba(238,127,48,1) 15%, rgba(54,77,70,1) 96%);
    }

.water {
    background: rgb(103,143,238);
    background: linear-gradient(142deg, rgba(103,143,238,1) 15%, rgba(54,77,70,1) 96%);

    }

.electric {
    background-color:#f7cf2e;
    }

.ice {
    background-color:#98d5d7;
    }

.ground {
    background-color:#dfbf69;
    }

.flying {
    background-color:#a98ff0;
    }

.poison {
    background-color:#a040a0;
    }

.fighting {
    background-color:#bf3029;
    }

.psychic {
    background-color:#f65687;
    }

.dark {
    background-color:#725847;
    }

.rock {
    background-color:#b8a137;
    }

.bug {
    background: rgb(168,183,32);
    background: linear-gradient(142deg, rgba(168,183,32,1) 15%, rgba(54,77,70,1) 96%);
}

.ghost {
    background-color:#6e5896;
    }

.steel {
    background-color:#b9b7cf;
    }

.dragon {
    background-color:#6f38f6;
    }

.fairy {
    background-color:#f9aec7;
    }


.pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .2rem 1rem;
    color: white;
    border-radius: 1rem;
    bottom: 160px;
    
}

.pokemon:hover{
    transform: scale(1.2);
    transition: transform 1.2s;
    transform-style: preserve-3d;  
    box-shadow: 3px 3px 10px 3px rgb(22, 195, 243);
   
    
}


.flip-box {
    background-color: transparent;
    box-shadow: 3px 3px 10px 3px rgb(22, 195, 243);
    border-radius: 1rem;
    perspective: 1000px;
    position: relative;
    width: 150px;
    height: 150px;
    
  }
  
  .flip-box-inner {
    text-align: center;
    transition: transform 2.0s;
    transform-style: preserve-3d;
    width: 150px;
    height: 140px;
    position: relative;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
  }
  
  .flip-box-back {
    font-size: 10px;
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    justify-content: space-around;
    transform: rotateY(180deg);
    margin: .5rem;
    padding: .2rem .2rem;
    color: white;
    border-radius: 1rem;
    bottom: 15px;
    left: 10px;
    
   
    
  }

  
.pokemon .number {
   color: #000000;
   text-align: right;
   opacity: .4;
   font-size: .625rem;
   margin-top: .2rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 15px 0px 0px 0px;
    list-style: none;
}

.pokemon .detail .types .type{
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img{
    max-width: 70px;
    height: 70px;
    align-self: flex-end;
    margin: 15px 0px 0px 0px;
    
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: .652rem;
    margin: .25rem .10rem;
}


.img-back{
    width: 100px;
    height: 180px;
    position: relative; 
    display: flex;
   
}





.box-back {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .8rem .5rem;
    color: white;
    border-radius: 1rem;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 3px 3px 100px 3px rgb(22, 195, 243); 
    position: relative;
    background: rgb(182,180,180);
    background: linear-gradient(49deg, rgba(182,180,180,1) 29%, rgba(54,77,70,1) 96%);
    opacity: 0.9;
    
    
}

.box-back span{
    margin-right: .2rem;
}
.hp-back {
    color: green;
}

.atack-back {
    color: red;
}

.defense-back{
    color: rgba(22, 142, 221, 0.979);
}

.speed-back {
    color: rgb(31, 71, 31);
}: